@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9847 0.0057 264.5328);
  --foreground: oklch(0.251 0.0186 262.156);
  --card: oklch(0.9909 0.0029 264.5422);
  --card-foreground: oklch(0.251 0.0186 262.156);
  --text-primary: oklch(0.9909 0.0029 264.5422);
  --text-secondary: oklch(0.251 0.0186 262.156);
  --popover: oklch(0.9909 0.0029 264.5422);
  --popover-foreground: oklch(0.251 0.0186 262.156);
  --primary: oklch(0.5492 0.1502 264.0374);
  --primary-foreground: oklch(0.9795 0.0054 274.9668);
  --secondary: oklch(0.9508 0.0091 258.3359);
  --secondary-foreground: oklch(0.3507 0.0193 260.663);
  --muted: oklch(0.9603 0.0074 260.7315);
  --muted-foreground: oklch(0.5511 0.02 264.3978);
  --accent: oklch(0.9204 0.0192 263.0054);
  --accent-foreground: oklch(0.3507 0.0193 260.663);
  --destructive: oklch(0.6501 0.2008 24.9745);
  --destructive-foreground: oklch(0.98 0.0053 17.2485);
  --border: oklch(0.9003 0.0101 267.353);
  --input: oklch(0.9206 0.0092 258.3368);
  --ring: oklch(0.5492 0.1502 264.0374);
  --chart-1: oklch(0.5492 0.1502 264.0374);
  --chart-2: oklch(0.6997 0.1492 142.0225);
  --chart-3: oklch(0.7498 0.1504 59.7517);
  --chart-4: oklch(0.6501 0.2008 24.9745);
  --chart-5: oklch(0.6499 0.15 300.076);
  --sidebar: oklch(0.9795 0.0054 274.9668);
  --sidebar-foreground: oklch(0.359 0.0051 106.6524);
  --sidebar-primary: oklch(0.6171 0.1375 39.0427);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9245 0.0138 92.9892);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --radius: 0.375rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

.dark {
  --background: oklch(0.1816 0.0202 261.9522);
  --foreground: oklch(0.9003 0.0101 267.353);
  --card: oklch(0.1995 0.0198 262.0232);
  --card-foreground: oklch(0.9003 0.0101 267.353);
  --text-primary: oklch(0.1995 0.0198 262.0232);
  --text-secondary: oklch(0.9003 0.0101 267.353);
  --popover: oklch(0.1995 0.0198 262.0232);
  --popover-foreground: oklch(0.9003 0.0101 267.353);
  --primary: oklch(0.5884 0.1783 252.4905);
  --primary-foreground: oklch(0.15 0.0208 264.3445);
  --secondary: oklch(0.251 0.0186 262.156);
  --secondary-foreground: oklch(0.8501 0.0094 258.3389);
  --muted: oklch(0.2213 0.0192 262.0898);
  --muted-foreground: oklch(0.6495 0.0096 264.5001);
  --accent: oklch(0.3004 0.0295 262.798);
  --accent-foreground: oklch(0.8501 0.0094 258.3389);
  --destructive: oklch(0.6581 0.2283 24.0528);
  --destructive-foreground: oklch(0.9498 0.0099 25.0764);
  --border: oklch(0.3006 0.0195 264.2229);
  --input: oklch(0.251 0.0186 262.156);
  --ring: oklch(0.7093 0.1329 223.7714);
  --chart-1: oklch(0.7093 0.1329 223.7714);
  --chart-2: oklch(0.7489 0.1497 142.094);
  --chart-3: oklch(0.7947 0.1468 61.2011);
  --chart-4: oklch(0.6581 0.2283 24.0528);
  --chart-5: oklch(0.7005 0.1492 299.7376);
  --sidebar: oklch(0.1816 0.0202 261.9522);
  --sidebar-foreground: oklch(0.8501 0.0094 258.3389);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.168 0.002 106.6177);
  --sidebar-accent-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* disable scroll lock for sheet component */
@layer base {
  body.task-sheet-open {
    overflow: auto !important;
  }
}
